
#main {
  float: left;
  position: absolute;
/*  margin-top: -28em;*/
}

#board3
{
  position: relative;
  margin-left: 16.5em;
  margin-top: 24em;
  z-index: -1;
}

#trail
{
 /* margin-top: -40em;*/

}

#sequence text {
  fill: #fff;
  font-size: 1em;
}

#chart {
  position: relative;
  /*margin-top: -40em;*/
  margin-left: 20em;
  z-index: 1;
}

#chart path {
  stroke: #fff;
}

.horizontal-scroll-wrapper 
{
  background-image: url("../images/new.png");
  background-repeat:   no-repeat;
  background-size: contain;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg);
  transform-origin: right top;
}

.horizontal-scroll-wrapper > div 
{
  color: black;
  transform: rotate(90deg);
  transform-origin: right top;
  padding-top: 2em;
}

body
{
  background-color: #6D6D6D;
  overflow:hidden;
  font-size: 2em;
}

.black_square
{
 background-color: black;
 color: white;
}

.white_square
{
background-color: white;
color: black;
}

.board_square
{
  padding: 0px;
}

.cdv-move-paths {
    text-align: center;
  }

.cdv-move-paths .black rect {
    fill: #2b2b2b;
  }

.cdv-move-paths .white rect {
    fill: white;
  }

#slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px;
    border-radius: 5px; 
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 50px; /* Set a specific slider handle width */
    height: 50px;
    border-radius: 50%;
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 50px; /* Set a specific slider handle width */
    height: 50px;
    border-radius: 50%;
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: white;
    text-align: center;
}

.modal-body {
  padding: 2px 16px;
  text-align: center;
}

.modal-footer {
    padding: 2px 16px;
    background-color: white;
    text-align: center;
}

#title
{
  color: #2d2d2d;
  text-align: center;
  font-size: 1em;
    font-family: 'Raleway', Helvetica, Arial, sans-serif; 
    padding:0.2em 0.2em 0 0.2em;
    margin-top: 0.2em;
}

#title > span
{ padding: 0.1em;
  color: #FDFEFD;
  background-color: #2d2d2d;
}

.explainingViz
{
  font-size: 2em;
}


.settings
{
  color: white;
}

.instruction {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.instruction .instructiontext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 0.5em;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.instruction:hover .instructiontext {
    visibility: visible;
}